 body {
     padding-top: 54px;
 }

 a {
     color: #d0e1aa;
 }


 a:hover {
     color: #7c9c6b;
 }

 @media (min-width: 992px) {
     body {
         padding-top: 56px;
     }
     .col-md-12 {
     margin-top:20px;
     }
     .col-lg-8 {
     margin-top:40px;
     margin-bottom: 20px
     }
     .col-lg-4 {
     margin-top:40px;
     }
 }

 .carousel-item {
     height: 65vh;
     min-height: 300px;
     background: no-repeat center center scroll;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 .portfolio-item {
     margin-bottom: 30px;
 }

.back-dark {
    background-color: #727178;
}

.back-yellow {
    color: #c8c264;
}

/*green: 7c9c6b
blue: 15737d
yellow: c8c264
dark: 727178
light: d0e1aa*/
